/*-- scss:defaults --*/
$input-bg: #ee1616 ;
$callout-icon-scale: 100%  ;
$link-color: rgb(219, 119, 53, 1) ;
$link-hover-color:      darken($link-color, 15%);
//$link-hover-decoration: underline ;
/*-- scss:rules --*/