/* css styles */

.img-center {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}